
{{ 'delivery.css' | asset_url | stylesheet_tag }} 
 <div class="delivery_footer">
        <div class="delivery">
            <div class="delivery_img">
                <img src="https://img.icons8.com/color/48/delivery--v1.png" alt="">
            </div>
            <div class="delivery-text">
                <h2>Delivery</h2>
                <p>worldwide delivery</p>
                <p>Lorem, ipsum.</p>
            </div>
        </div>

        <div class="delivery">
            <div class="delivery_img">
                <img src="https://img.icons8.com/color/48/delivery--v1.png" alt="">
            </div>
            <div class="delivery-text">
                <h2>Delivery</h2>
                <p>worldwide delivery</p>
                <p>Lorem, ipsum.</p>
            </div>
        </div>

        <div class ="delivery">
            <div class="delivery_img">
                <img src="https://img.icons8.com/color/48/delivery--v1.png" alt="">
            </div>
            <div class="delivery-text">
                <h2>Delivery</h2>
                <p>worldwide delivery</p>
                <p>Lorem, ipsum.</p>
            </div>
        </div>

        <div class="delivery">
            <div class="delivery_img">
                <img src="https://img.icons8.com/color/48/delivery--v1.png" alt="">
            </div>
            <div class="delivery-text">
                <h2>Delivery</h2>
                <p>worldwide delivery</p>
                <p>Lorem, ipsum.</p>
            </div>
        </div>
    </div>


{% schema %}
  {
    "name": "Section_name",
    "settings": [],
     "presets": [
    {
      "name": "Section_name"
      
    }
  ]
  }
  
{% endschema %}
