{{ 'new_footer.css' | asset_url | stylesheet_tag }}

<div class="dt-sc-flex-space-between">
    <div class="footer__item--42607991-f694-4c7e-8bc1-a5617f7bc79a footer-contact-info">
      <div class="text-start">
        <a href="/">
          <img src="//iva-theme.myshopify.com/cdn/shop/files/iva-logo_831ed1a1-6820-4469-a1d6-3b372164e91a_x40@2x.png?v=1613699959" alt="Iva-Theme (password: buddha)" style="height:40px">
        </a>
        <ul class="contact-info">
          <li class="address">
            <address> <i class="fa fa-home"></i>1203 Town Center Drive FL 33458 USA</address>
          </li>
          <li class="contact-phone">
            <i class="fa fa-phone"></i>+0123 456 789
          </li>
          <li class="office-mail">
            <a href="mailto:info@example.com">
              <i class="fa fa-envelope"></i>info@example.com
            </a>
          </li>
        </ul>
        <div class="text-start">
          <ul class="dt-sc-social-icons dt-sc-list-inline">
            <li>
              <a class="icon-fallback-text twitt hexagon" target="_blank" href="#" title="Twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <span class="icon__fallback-text">Twitter</span>
              </a>
            </li>
            <li>
              <a class="icon-fallback-text fb hexagon" target="_blank" href="#" title="Facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <span class="icon__fallback-text">Facebook</span>
              </a>
            </li>
            <li>
              <a class="icon-fallback-text pin hexagon" target="_blank" href="#" title="Pinterest">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
                <span class="icon__fallback-text">Pinterest</span>
              </a>
            </li>
            <li>
              <a class="icon-fallback-text google hexagon" target="_blank" href="#" title="Google+" rel="publisher">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                <span class="icon__fallback-text">Google+</span>
              </a>
            </li>
            <li>
              <a class="icon-fallback-text ins" target="_blank" href="#" title="Instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span class="icon__fallback-text">Instagram</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__item--6bf357de-7846-4852-b91a-3193e6d721f9 footer-links">
      <div class="text-start">
        <h5 class="footer__title"> Help </h5>
        <ul class="footer_menu dt-sc-list">
          <li><a href="/search">Search</a></li>
          <li><a href="/pages/about">About Us</a></li>
          <li><a href="/pages/help">Information</a></li>
          <li><a href="/pages/about">Privacy Policy</a></li>
          <li><a href="/pages/contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__item--43474ad4-dab5-4e9e-bf6d-f7ff94c7899e footer-links">
      <div class="text-start">
        <h5 class="footer__title"> Support </h5>
        <ul class="footer_menu dt-sc-list">
          <li><a href="/pages/help">Help</a></li>
          <li><a href="/pages/contact-us">Opportunities</a></li>
          <li><a href="/pages/contact-us">Careers</a></li>
          <li><a href="/pages/contact-us">Refund & Return</a></li>
          <li><a href="/pages/contact-us">Deliveries</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__item--ed03219a-b273-4cdd-933f-dff000d14b83 footer-links">
      <div class="text-start">
        <h5 class="footer__title"> Information </h5>
        <ul class="footer_menu dt-sc-list">
          <li><a href="/search">Search Terms</a></li>
          <li><a href="/search">Advanced Search</a></li>
          <li><a href="/pages/about">Help & Faq's</a></li>
          <li><a href="/pages/contact-us">Store Location</a></li>
          <li><a href="/pages/contact-us">Order & Return</a></li>
        </ul>
      </div>
    </div>
  </div>
  

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}