{{ 'new_slider' | asset_url | stylesheet_tag }}


   
   <div class="slider-container">
        <div class="slider">
            <div class="slide">
                <img src="image1.jpg" alt="Image 1">
            </div>
            <div class="slide">
                <img src="image2.jpg" alt="Image 2">
            </div>
            <div class="slide">
                <img src="image3.jpg" alt="Image 3">
            </div>
        </div>
        <button class="prev-button" onclick="changeSlide(-1)">Previous</button>
        <button class="next-button" onclick="changeSlide(1)">Next</button>
    </div>
  
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}