  .delivery_footer {
            display: flex;
            justify-content: space-evenly;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .delivery {
            display: flex;
            align-items: center;
            margin-bottom: 20px; 
        }

        .delivery_img img {
            margin-right: 20px;
        }

        .delivery-text {
            text-align: center;
            line-height: 80%;
        }